$white: rgb(255,255,255);
$orange: rgb(255,165,106);
$offwhite: rgb(255, 239, 215);
$maincolor: rgb(255,255,255);
$twitter: rgb(110, 197, 255);
$formcolor: rgb(255, 165, 106);
$tweetcolor: $offwhite;
$header: rgb(255, 165, 106);



@mixin retweet-logo{
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

@mixin form{
  outline: 2px solid $twitter;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  height: 60vh;
  background-color: $formcolor;
  border-radius: 25px;
 
  
}

@mixin input-data{
  // width: 80%;
  // margin-left: 5%;
  // margin-right: 5%;
  background-color: $twitter;
  color:white;
  border-radius: 25px;
  margin: 10px;
}



body{
  background-color: $maincolor
}



// LOG IN AND SIGN UP PAGE

.retweet-main{
@include retweet-logo;
text-align: center;
font-size: 1.25em;
color: white;
text-decoration: none;
}

a{
  text-decoration: none;
}

.form{
  @include form;
  margin-top: 30px;
}

.tweet-form{
  display: flex;
  justify-content: center;
  margin: auto;
  align-items: flex-end;
  padding: 25px;
}

input{
  @include input-data;
}

input[type='text']{
  width: 40vw;
  height: 5em;
}

input[type='submit']{
  height: 3em;
}

.form-data{

  display: grid;
  grid-template-areas:
  ". . . . ."
  ". u u u ."
  ". . . . ."
  ". p p p ."
 
  ". . . . ."
  ". pr pr pr ."
   ". . . . ."
   ". c c c ."
    ". . . . ."
  ". s s s ."
  ". . . . .";
  height: 100%;
}

.username{
  grid-area: u;
  font-size: 1.5em;
}
.password{
  grid-area:p;
  font-size: 1.5em;
}
.form-prof-pic{
font-size: 1.5em;
grid-area: pr;
}

.form-cover-pic{
font-size: 1.5em;
grid-area: c;
}

::placeholder{
  color:rgb(99, 90, 90);
}




input[type=submit]{
  background-color: $twitter;
  color: white;
  font-size: 1.6em;
  border: 3px solid $header;
  transition: .2s ease-in-out;
  font-weight: bold;
  grid-area: s;
}
input[type=submit]:hover{
  cursor: pointer;
  color:black;
  background-color: $header;
  border: 3px solid $twitter;
}




// HEADER STYLING

nav{
display: grid;
grid-template-areas:
" s t . . . p . . . . l .";
background-color: $header;
}


.tweet-symbol{
  grid-area: s;
  align-self: center;
  justify-self:end;
}
.retweet-main{
grid-area: t;
justify-self: start;
color: black;
}
.user-symbol{
grid-area: p;
align-self: center;
}
.logout{
  grid-area: l;
  transition: .2s ease-in-out;
}
.logout:hover{
  cursor: pointer;
  color:white;
}
nav > a{
  text-decoration: none;
  color: $tweetcolor;
}

// LOGIN/SIGN UP NAV STYLING

.first-header{
  display: flex;
  justify-content: space-around;
    h1{
      font-size: 2em;
    }
}

// MAIN PAGE WITH FOLLOWS



.main-container{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 100%;
}

.follow-bar{
  width: 12vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid black;
  margin-right: 5px;
  margin-top: 10px;
  height: fit-content;
  padding-bottom: 5px;
  background-color: $orange;
  border-radius: 25px;
}

.this-user{
  text-align: center;
}

.all-button{
  color: white;
  border: 3px solid $header;
  transition: .2s ease-in-out;
  font-weight: bold;
  background-color: $twitter;
  text-align: center;
}

.all-button:hover{
  cursor: pointer;
  color:black;
  background-color: $header;
  border: 3px solid $twitter;
}

.main-form-input {
   margin-left: 20px;
   margin-right:5px
}

.delete:hover{
cursor: pointer;
}





// COPIED FROM STYLES


@mixin tweet-body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $tweetcolor;
  align-content: center;
  margin: 5px;
  border: 2px solid $twitter;
  
}

body{
  background-color: $maincolor;
}

.comment {
  @include tweet-body;
  color: $white;
  
    
}

.container{
  margin-top: 10px;
  display: flex;
  width:80%;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.usertime{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 5px;
}
.time{
  color:black;
}

#user{
  color:black;
  text-align: left;
  font-weight: bold;
}

.tweet{
  margin:5px;
  border-radius: 25px;
  max-width: 75%;
  min-width: 75%;
}

.respond{
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 5px;
}

img{
  width:25px;
  height:20px;
  
}

b{
  color: white
}
#tweet-symbol, #user-icon{
  width: 60px;
  height: 60px;
}


nav > a{
text-decoration: none;
color: $tweetcolor;
font-weight: bolder;
}





// NOT LOGGED IN PAGE

.redirect{
  text-align: center;
}


// PROFILE PAGE

.profile-container{
  height: 800px;
}

.cover-photo{
  margin-top:0;
  // background-image: url("https://www.teahub.io/photos/full/51-513680_facebook-cover-wallpaper.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  display: grid;
  grid-template-areas:
  ". . . . . . . . . . . . . ."
  ". . . . . . . . . . . . . ." 
  ". . . . . . . . . . . . . ." 
  ". . . . . . . . . . . . . ." 
  "pic . . . . . . . . . . . . ." 
  "un . . . . . . . . . . . . ." ;
}

.profile-picture {
  height: 150px;
  width: 150px;
  grid-area: pic;
  margin-left: 20px;
  border-radius: 50px;
}
.profile-user-name{
  grid-area: un;
  color: white;
}


// TWEET STYLES

.tweet-container{
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tweet{
  border: 2px solid black;
  background-color: $tweetcolor;
  margin-left:20px;
}

.tweet-username{
  color: black;
  padding-left: 10px;
  width: fit-content;
}

.tweet-content{
  color: black;
  padding-left: 10px;
}

.tweet-symbols{
  display: flex;
  justify-content: space-around;

}
.tweet > a {
  width:fit-content
}



// EDIT PROFILE

.edit-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  background-color: $tweetcolor;
  height: 60vh;
    input{
      width:80%;
      margin-top: 20px;
      padding: 10px;
    }
}

.edit-all{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}



// EDIT TWEET

.edit-tweet-form{
  padding: 10px;
  width:80%;
 margin: 10px;
}